name: Regenerate PluginMaster
on:
  workflow_dispatch:
  push:
    branches:
      - main
  # schedule:
  #   - cron: '0 */6 * * *'  # Run every 6 hours
concurrency: regenerate
permissions:
  contents: write
  actions: read
jobs:
  generate:
    name: Regenerate PluginMaster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Generate PluginMaster
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          python generate_pluginmaster.py
      - uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Action
          author_email: github-actions[bot]@users.noreply.github.com
          message: Regenerate PluginMaster
